body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.img {
    width: 350px;
}

@media(max-width:900px) {
    .img {
        width: 300px;
    }
}

@media(max-width:768px) {
    .img {
        width: 250px;
    }
}

@media(max-width:565px) {
    .img {
        width: 100%;
    }
}